.App {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.App-logo {
  color: var(--secondary-text-color);
}
.App-logo span {
  color: #9fb0bf;
}
.App-columns {
  display: flex;
  justify-content: center;
}
.App-column {
  flex: 1;
}
